/* stilosana no elementa */
        body{
            background-color: black;
            color:rgb(120, 120, 255);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            text-align: center;
            color: rgb(123, 244, 123);
        }
        h2{
            text-align: center;
        }
        nav{
            background-color: rgb(77, 77, 33);
            padding: 5px;
            border-radius: 15px;
            width: 95%;
            
        }
        ul{
            list-style-type: none;
            display: flex;

        }
        li{
            margin-left: 20px;
        }
        a{
            text-decoration: none;
            color: rgb(236, 80, 80);
            padding: 10px;
            border-radius: 10px;
        }
        a:hover{
            color: rgb(231, 176, 176);
            background-color: blueviolet;
            padding: 10px;
        }

        /* izvele pec ID selektora */
        #lokacijas-noformejums{
            background-color: rgb(3, 3, 3);
        }

        /* izvele pec class */
        .izcelt-vairakus{
            color: brown;
        }
        img{
            width: 95%;
            
        }
        div{
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        iframe{
            border-radius: 20px;
            margin: 20px;
            width: 95%;
        }
        /* @media (min-width: 600px){
            iframe{
                width: 90%;
            }
        } */